section.keepOnFile-page {
  width: 100%;
  height: calc(100vh - 54px);
  background: -webkit-linear-gradient(rgba(256, 256, 256, 0.6) 0%, rgba(256, 256, 256, 0.8) 100%), url(../../../media/keepOnFile-bg.png) no-repeat;
  background: -o-linear-gradient(rgba(256, 256, 256, 0.6) 0%, rgba(256, 256, 256, 0.8) 100%), url(../../../media/keepOnFile-bg.png) no-repeat;
  background: linear-gradient(rgba(256, 256, 256, 0.6) 0%, rgba(256, 256, 256, 0.8) 100%), url(../../../media/keepOnFile-bg.png) no-repeat;
  background-size: 80% 80vh;
  background-position: left bottom;
  padding-top: 20px;
}
.timeline {
  background: rgba(250, 250, 250, 0.6);
}
.aside {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
  padding: 10px;
}
.KeepOnFile-View {
  position: absolute;
  top: -5px;

}
.KeepOnFile-ViewIcon {
  margin-right: 5px !important;
}
