.top-menu {

}
.base-option {
  padding: 15px 0;
}
.base-item, .login-tip {
  display: inline;
  margin: 8px;
  color: #FAFAFA;
  font-size: 16px;
}
.login-tip {
  font-weight: 100;
  font-size: 14px;
}
.base-item a {
  color: #FAFAFA;
}
.base-item a:hover, .base-item:hover {
  text-decoration: none;
  color: #FF7E67;
}
.base-item span {
  display: inline-block;
  margin-left: 5px;
  }
.base-item:hover {
  padding-bottom: 2px;
  cursor: pointer;
}
.logout:hover {
  cursor: pointer;
  text-decoration:underline;
}
.All-Nav {
  background: #07689f;
  min-height: 54px;
  /*margin-bottom: 20px;*/
}
.TopMenu-language li a {
  color: #FAFAFA;
  line-height: 34px;
}
