.marked-preview ol ul, .marked-preview ul ol,.marked-preview ul ul, .marked-preview ol ol  { margin-top: 0; margin-bottom: 0 }
.marked-preview h1{ font-size:2em; margin: .67em 0 !important}
.marked-preview h2{ font-size:1.5em; margin: .75em 0 !important}
.marked-preview h3{ font-size:1.17em; margin: .83em 0 !important}
.marked-preview h4, .marked-preview p, .marked-preview blockquote, .marked-preview ul, .marked-preview fieldset, .marked-preview form, .marked-preview ol, .marked-preview dl, .marked-preview dir, .marked-preview menu { margin: 1.12em 0!important}
.marked-preview h5 { font-size:.83em; margin: 1.5em 0 !important}
.marked-preview h6{ font-size:.75em; margin: 1.67em 0 !important}
.marked-preview blockquote{ margin-left: 40px;margin-right: 40px !important}
.marked-preview abbr, .marked-preview acronym{ font-variant: small-caps; letter-spacing:0.1em !important}
.marked-preview pre {padding: 5px !important}
.marked-preview p {padding: 5px !important}
.marked-preview li{ display:list-item !important}
.marked-preview ol{list-style-type: decimal !important}
.marked-preview ol, .marked-preview ul, .marked-preview dir, .marked-preview menu, .marked-preview dd{ margin-left: 40px !important}

.edit-marked-preview {
  height: 800px;
  overflow: scroll;
}
