.TagCloud {
  padding-top: 20px;
  width: 100%;
  height: calc(100vh - 54px);
}
.TagCloud-bg {
  background: -webkit-linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../media/cloudLabel.png) no-repeat;
  background: -o-linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../media/cloudLabel.png) no-repeat;
  background: linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../media/cloudLabel.png) no-repeat;
  background-size: 65% 80vh;
  background-position: left bottom;
}
h2.TagCloud-Title {
  color: #07689f;
  text-shadow: 1px 1px #3399cc;
  font-size: 2.5em;
  margin-bottom: 50px;
}
