.ArticleLi {
}
.ArticleLi-li {
  height: 40px;
  line-height: 40px;
  transition: background 0.4s ease-in;
}
.ArticleLi-li:hover {
  background: #eee;
}
.ArticleLi-firstRow {
}
.ArticleLi-firstRow .ArticleLi-Title {
  font-size: 16px;
  color: #07689f;
}
.ArticleLi-firstRow .ArticleLi-UpdateTime {
  font-size: 12px;
  color: #ccc;
}
.ArticleLi-secondRow span {
  display: inline-block;
  color: #07689f;
  width: 30px;
}
.ArticleLi-secondRow .ArticleLi-CreateTime {
  width: 85px;
}
