.ArticleTime {
  margin: 10px 0 0 16px;
}
.ArticleTime-TimeTitle {
  font-weight: bolder;
  margin-bottom: 10px;
}
.ArticleTime li span {
  color: #ccc;
  font-size: 14px;
}
.ArticleTime li span.ArticleTime-time {
  /* text-shadow: 1px 1px #07689f; */
  margin-right: 10px;
  color: #49a9ee;
  font-weight: 600;
}
.ArticleTime-TimeTitle-icon {
  margin-right: 5px;
}
