.ArticleTime {
  margin: 10px 0 0 16px;
}
.ArticleTime-TimeTitle {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.ArticleTime li span {
  color: #ccc;
}
.ArticleTime li span.ArticleTime-time {
  font-size: 14px;
  margin-right: 10px;
}
.ArticleTime-TimeTitle-icon {
  margin-right: 5px;
}
