.articleSearch-bg {
  background: -webkit-linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../../media/searchArticle.png) no-repeat;
  background: -o-linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../../media/searchArticle.png) no-repeat;
  background: linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../../media/searchArticle.png) no-repeat;
  background-size: 60% 80vh;
  background-position: right bottom;
}
