.login-container {
  margin-top: 60px;
  border-left: 1px solid #336699;
}

.login-container h2 {
  color: #336699;
  text-shadow: 1px 1px #3399cc;
  /*margin-left: 40px;*/
  margin-bottom: 50px;
}
.myAlert {
  position: fixed !important;
  width: 450px;
  top: 80px;
  left: calc(100% - 500px);
}

