.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
input,
textarea,
[contenteditable] {
  color: #ff7e67;
  text-shadow: 0px 0px 0px #07689f;
  -webkit-text-fill-color: transparent;
}
@supports (caret-color: #ff7e67) {
  input,
  textarea,
  [contenteditable] {
    color: #07689f; /* 文本颜色 */
    caret-color: #ff7e67; /* 光标颜色 */
  }
}
.articleByxx-container {
  padding-top: 20px;
  width: 100%;
  height: calc(100vh - 54px);
}
.articleByxx-Aside {
  background: rgba(162, 213, 242, 0.1);
  padding: 10px 0;
}
.articleByxx-Aside form input {
  width: 90%;
}
.articleByxx-Aside form button {
  left: 71%;
}
.submit-btn {
  background: #ff7e67 !important;
  color: #fafafa !important;
}
.submit-btn:hover {
  outline: none;
  border: 0;
}
.katex {
  font-size: 1.1em;
}
.katex span {
  top: 0 !important;
}
.katex .vlist > span {
  top: -0.39em !important;
}
.marked-preview h1 {
  font-size: 2em;
  margin: 0.67em 0 !important;
  color: #ff7e67;
}
.marked-preview h2 {
  font-size: 1.5em;
  margin: 0.75em 0 !important;
  color: #07689f;
}
.marked-preview h3 {
  font-size: 1.17em;
  margin: 0.83em 0 !important;
  color: #07689f;
}
.marked-preview h5 {
  font-size: 0.83em;
  margin: 1.5em 0 !important;
  color: #07689f;
}
.marked-preview h6 {
  font-size: 0.75em;
  margin: 1.67em 0 !important;
  color: #07689f;
}
.marked-preview h4,
.marked-preview p,
.marked-preview pre,
.marked-preview blockquote,
.marked-preview ul,
.marked-preview fieldset,
.marked-preview form,
.marked-preview ol,
.marked-preview dl,
.marked-preview dir,
.marked-preview menu {
  margin: 1.12em 0 !important;
}
.marked-preview p {
  color: #07689f;
}
.marked-preview blockquote {
  background: rgba(162, 213, 242, 0.36);
  border-radius: 3px;
  margin-left: 40px;
  margin-right: 40px !important;
  font-size: 14px;
  font-weight: 500;
  color: #fafafa;
}
.marked-preview pre {
  padding: 5px;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0.5) !important;
}
.marked-preview li {
  display: list-item !important;
}
.marked-preview ol {
  list-style-type: decimal !important;
}
.marked-preview ul {
  list-style-type: disc;
}
.marked-preview ul,
.marked-preview ol {
  margin: 0 0 0 20px !important;
}
.marked-preview dir,
.marked-preview menu,
.marked-preview dd {
  margin-left: 40px !important;
}
.marked-preview img {
  max-width: 100%;
}
.edit-marked-preview {
  height: 800px;
  overflow: scroll;
}
