.keepOnFile-date {
  font-size: 16px;
  width: 120px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  background: rgb(51, 102, 153, .7);
  margin-left: -12px;
}
.keepOnFile-date span {
  display: inline-block;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: #fff;
  text-shadow: 1px 1px #eee;
  margin-left: 10px;
}
.keepOnFile-item {
  list-style: none;
  margin-left: 20px;
  border-bottom: 1px solid #ccc;
  width: 95%;
  margin: 10px 0;
  padding-left: 10px;

}

.KeepOnFile-hover:hover li, .KeepOnFile-hover:hover .detail-time, .KeepOnFile-hover:hover p {
  color: #FF7E67;
}
.KeepOnFile-hover p {
  color: #666;
}
.KeepOnFile-hover:hover .keepOnFile-item {
  border-bottom: 1px solid #FF7E67;
}
.keepOnFile-item li {
  display: inline-block;
  font-size: 16px;
  line-height: 37px;
  height: 37px;
  text-align: center;
  margin-right: 20px;
  color: #1470b3;
}
.keepOnFile-item .keepOnFileItem-catalog {
  font-size: 14px;
  color: #ccc;
}

