.ArticleSearch {
  margin: 10px 0 0 16px;
}
.ArticleSearch input {
  height: 28px;
  width: 90%;
  text-indent: 5px;
  outline: none;
  border: 1px solid rgba(7, 104, 159, 0.5);
}
.ArticleSearch button {
  border: 0;
  position: absolute;
  left: 71%;
  margin-top: 1px;
  width: 26px;
  height: 26px;
  color: #ff7e67;
}
.ArticleSearch-SearchTitle {
  font-weight: bolder;
  margin-bottom: 10px;
}

.ArticleSearch-SearchTitle-icon {
  margin-right: 5px;
}
