.commentItem-Ul li {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.commentItem-username {
  font-weight: 500;
  color: #07689f;
}
.commentItem-content {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  font-size: 13px;
  margin: 5px 0;
}
.commentItem-option {
  color: #666;
}
.commentItem-createTime {
  color: rgba(14, 119, 201, 0.55);
  font-weight: 500;
}
.commentItem-option-btn {
  color: rgba(14, 119, 201, 0.55);
  font-weight: 500;
  display: inline-block;
  margin: 0 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.commentItem-option-btn:hover {
  cursor: pointer;
  color: #a2d5f2;
}
.ant-notification-notice {
  background: #fafafa !important;
}
.ant-notification-notice-message {
  color: #07689f !important;
  font-size: 14px;
}
