.commentItem-Ul li {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.commentItem-username {
  font-weight: 500;
  color: #07689f;
}
.commentItem-content {
  color: rgb(7, 104, 159, 0.8);
}
.commentItem-option {
  color: #666;
}
.commentItem-option-btn {
  display: inline-block;
  margin: 0 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.commentItem-option-btn:hover {
  cursor: pointer;
  color: #A2D5F2;
}
.ant-notification-notice {
  background: #fafafa !important;
}
.ant-notification-notice-message {
  color: #07689f !important;
  font-size: 14px;
}
