.TagsCloud {
  margin: 15px 0 0 15px;
  max-height: 26%;
  min-height: 20%;
  overflow-y: auto;
}
.TagsCloud-TagsTitle {
  font-weight: bolder;

  margin-bottom: 10px;
}
.TagsCloud-TagsTitle:hover a span {
  color: #ff7e67;
}
.TagsCloud-TagsTitle a span {
  /*color: #3366cc;
  text-shadow: #336699;*/
}
.TagsCloud-icon {
  margin-right: 5px;
}
