.TagsCloud {
  margin: 10px 0 0 15px;
}
.TagsCloud-TagsTitle {
  font-size: 16px;
  font-weight: bolder;

  margin-bottom: 10px;
}
.TagsCloud-TagsTitle:hover a span {
  color: #FF7E67;
}
.TagsCloud-TagsTitle a span {
  /*color: #3366cc;
  text-shadow: #336699;*/
}
.TagsCloud-icon {
  margin-right: 5px;
}
