.ArticleByCatalog-list {
  margin-left: 16px;
  margin-top: 10px;
}
.ArticleByCatalog-li {
  color: #999;
  border-bottom: 1px solid #eee;
  /*padding-right: 10px;*/
  font-size: 14px;
}
.ArticleByCatalog-li .catalogName {
  width: 50px;
}
.ArticleByCatalog-li:hover {
  cursor: pointer;
  color: #FF7E67;
}
.articleByxx-container {
  padding-top: 20px;
  width: 100%;
  height: calc(100vh - 54px);
}
.ArticleBySearch-bg {
  background: -webkit-linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../../media/searchByCatalog.png) no-repeat;
  background: -o-linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../../media/searchByCatalog.png) no-repeat;
  background: linear-gradient(rgba(256, 256, 256, 0.3) 0%, rgba(256, 256, 256, 0.6) 100%), url(../../../media/searchByCatalog.png) no-repeat;
  background-size: 80% 70vh;
  background-position: left bottom;
}
.articleByxx-Aside {
  background: rgba(162, 213, 242, 0.1);
  padding: 10px 0;
}
.articleByxx-Aside form input {
  width: 90%;
}
.articleByxx-Aside form button {
  left: 71%;
}
