.pagination li {
  display: inline-block;
}
.pagination li span {
  display: inline-block;
  cursor: pointer;
  padding: 6px 18px;
  margin-left: -2px;
  line-height: 1.42857143;
  color: #07689f;
  text-decoration: none;
  background-color: #FAFAFA;
  border: 1px solid #A2D5F2;
}
.pagination .active span {
  color: #FAFAFA;
  background-color: #FF7E67;
  border-color: #FF7E67;
}
.pagination .disabled span {
  color: #777;
  cursor: not-allowed;
  background-color: #FAFAFA;
  border-color: #A2D5F2;
}
