.article-option-nav {
}
.article-option-nav ul {
}
.article-option-nav li,
.article-option-nav li:hover {
  display: inline-block;
  list-style: none;
}
.article-option-nav span:hover {
  cursor: pointer;
}
.article-option-nav span {
  font-weight: bold;
  padding: 3px 1px;
}
