.article-content {
  min-height: 500px;
}
.article-content img {
  max-width: 100%;
}
.ArticleDetails-articleTitle {
  color: #999;
  font-size: 26px;
}
.ArticleDetials-titleContainer {
  border-bottom: #FAFAFA;
}
