.article-content {
  margin-right: 15px;
}
.article-content img {
  max-width: 100%;
}
.ArticleDetails-articleTitle {
  color: #999;
  font-size: 26px;
}
.ArticleDetials-titleContainer {
  border-bottom: #fafafa;
  padding-top: 20px;
}
.pre-next ul {
  list-style: none;
  padding-top: 35px;
}
.pre-next li {
  display: inline-block;
  color: #1b83ce;
}
.pre-next li:hover {
  cursor: pointer;
  color: #ff7e67;
}
.pre-next ul span {
  font-size: 14px;
  color: #0e77ca;
  font-weight: 400;
}
.ArticleDetails-commentTip {
  padding-top: 35px;
  font-size: 12px;
  color: #ff7e67;
}
.custom-file-upload {
  display: inline-block;
  /* padding: 6px 12px; */
  cursor: pointer;
}
.custom-file-upload [type="file"] {
  display: none;
}
.articleDetail {
  min-height: calc(100vh - 54px);
  position: relative;
}
.articleDetail .aside {
  background: #fafafa;
  position: relative;
}
.articleDetail .aside .aside-title {
  margin: 5px !important;
  font-size: 14px;
  font-weight: 700;
}
.articleDetail .aside::before {
  content: "";
  position: absolute;
  width: 102px;
  height: 20px;
  background: rgba(255, 126, 103, 0.8);
  border-radius: 5px 5px 0 0;
  top: -20px;
}
.articleDetail .rank {
  margin-top: 20px;
  position: absolute;
  padding: 20px !important;
}
.articleDetail .rank::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  background: rgba(255, 126, 103, 0.8);
  top: -20px;
}
.ArticleDetails-Title {
  font-size: 14px;
  color: #07689f;
}
.articleDetail .topRank .topRank-li {
  display: block !important;
  color: #999;
  height: 25px;
  text-align: bottom;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  max-width: 100%;
  padding-left: 5px;
  border-bottom: 1px solid #fafafa;
}
.articleDetail .topRank .topRank-li:hover {
  transition: border 0.5s ease-in;
  border-bottom: 1px dotted rgba(255, 126, 103, 0.46);
}
.ArticleDetails-sub-Title {
  font-size: 12px;
  margin-top: 10px;
  color: #49a9ee;
}
.articleDetail .topRank .topRank-li:hover span {
  color: #ff7e67;

  transition: color 0.3s ease-in;
}
.articleDetail .topRank .topRank-li span {
  transition: all 0.2s ease-in;
  display: inline-block;
  text-align: left;
  /* vertical-align: bottom; */
}
.articleDetail .articleDetail-rank-content {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.articleDetail .articleDetail-rank-count {
  color: #ff7e67;
  width: 20%;
  margin-left: 7px;
  vertical-align: top;
}
.ArticleDetials-scrollbar-control {
  z-index: 100;
  width: 100%;
  height: 5px;
  background: rgba(250, 250, 250, 0.55);
}
.ArticleDetials-scrollbar-control .ArticleDetials-scrollbar {
  height: 100%;
  border-radius: 0 2px 2px 0;
  background: #49a9ee;
}
.ArticleDetials-scrollbar::before {
  content: "";
  position: fixed;
  width: 100%;
  z-index: -1;
  background: #fafafa;
}
